.bottomText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #64626a;
}


.hero-section{
  padding: 140px 0px
}

.hero-input-div{
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  
}

.hero-input-field{
  background-color: white;
  border: 1px solid #D1D0D6;
  outline: 0px;
  padding: 15px 16px;
  width: 100%;
  border-radius:6px 0px 0px 6px;
  font-family: 'Inter';
}

.hero-span{
  display: flex;
  flex-direction: row;
  gap:8px;
  align-items: center;
  padding: 4px 8px;
  width: fit-content;
  background-color: #E8E7E8;
  font-family: 'Inter';
  border-radius: 4px;
}

.cta{
  height: 100%;
  border-radius:0px 6px 6px 0px;
  font-family: 'Inter';
  padding: 0px 40px;
  width: fit-content;
}

.hero-img {
  width: 100%;
  height: 500px;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */

  text-align: center;
  letter-spacing: 0.6px;

  color: #000000;
}
/* 
 */

.design-img {
  position: relative;
  width: 100%;
  height: 472px;
}

.d-flex{
  display: flex;
}

.image {
  position: relative;
  width: 100%;
  height: 380px;
}

.group {
  position: relative;
  width: 558px;
  height: 467px;
}

.imageBlue {
  width: 100%;
  height: 230px;
}

.main-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 1px;

  color: #000000;
}

li{
  line-height: 3;
}
.e-sign-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.3px;

  color: #64626a;
}

.text-field {
  border: 2px solid #d1d0d6;
  border-radius: 4px;
}

.start-button {
  position: absolute;
  left: 71.17%;
  right: 0.2%;
  top: 0%;
  bottom: 31.03%;
}

.vetted-template {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.4px;

  color: #000000;
}

.structured-lorem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;
  letter-spacing: 0.2px;

  color: #64626a;
}

.card {

  background: #f8f8f8;
  border: 1px solid #e8e7e8;
  border-radius: 12px;
  padding: 78px 40px 36px 40px;
  position: relative;
  padding-inline: inherit;
}

.imageSectionCard {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fdfdfd;
  background-color: #fdfdfd;
}

.icon {
  width: 92px;
  height: 92px;
}

@media screen and (max-width: 600px) {
  .hero-img {
    width: 120%;
    height:auto
  }

  .support-1{
    margin-top: 80px;
  }

  .reminders{
    padding-left: 80px !important;
  }

  .design-img{
    width: 130%;
    height: 60%;
  }

  .freelance{
    padding: 0px  !important;
    margin-top: 25px  !important;
    
  }

  .button {
    margin-top: 35px !important;
  }

  .image{
    width: 130%;
    height: 70%;

  }

  .card2{
    padding: 10px !important;
  }

  .cards-margin {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: auto
  }

  .card {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 80px;
    padding: initial;
  }

  .card-outer-box{
    padding:0px !important
  }

  .vetted {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
  
    text-align: center;
    letter-spacing: 0.4px;
  
    color: #000000;
    margin-top: 80px;
  }

  .reminders-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
  
    letter-spacing: 0.6px;
  
    color: #000000;
    margin-top: 100px  !important;
    margin-left: 15px;
  }

  .business{
    margin-left:  10px;
  }




}

@media screen and (min-width:1600px){
  .design-img{
    position: relative;
    width: 512px;
    height: 472px;

  }


  .image {
    position: relative;
    width: 565px;
    height: 434px;
  }

  .image1{
    position: relative;
    width: 600px;
    height: 500px
  }

  .hero-img {
    position: relative;
    width: 636px;
    height: 500px;
  }
  
}

.business {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.3px;

  color: #64626a;
}

.reminders-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.6px;

  color: #000000;
  margin-top: 200px;
}

.reminders-text2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.3px;

  color: #64626a;
}

.stream-text-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.6px;

  color: #000000;
}

.stream-text-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.3px;

  color: #64626a;
}

.trusted-text-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */

  text-align: center;
  letter-spacing: 0.6px;

  color: #000000;
}

.trusted-text-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.3px;

  color: #64626a;
}

.support-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.4px;

  color: #000000;
}

.support-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;
  letter-spacing: 0.2px;

  color: #64626a;
}

.icon1 {
  width: 150px;
  height: 150px;
}

.card2 {
  height: 166px;
  background: #f8f8f8;
  border: 1px solid #e8e7e8;
  border-radius: 12px;
  padding: 78px 40px 36px 40px;
  position: relative;
}

.oval {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.6px;

  color: #000000;
}

.oval2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */

  letter-spacing: 0.4px;

  color: #000000;
}

.vetted {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.4px;

  color: #000000;
}

.setted {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;
  letter-spacing: 0.2px;

  color: #64626a;
}

.white {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.6px;

  color: #ffffff;
}

.social {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  /* or 243% */

  color: #64626a;
}

.end {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
