@import './helpers/fonts.scss';
@import './helpers/variables.scss';
@import './helpers/font-size.scss';
@import './helpers/font-wieght.scss';
@import './helpers/spacing.scss';
@import './helpers//color-scheme.scss';
@import './helpers/width.scss';
@import './helpers/opacity.scss';

//Font Import

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden
}

// .main-heading{
//   font-family: 
//   font-weight: 400;
//   font-size: 40px;
// }

// .sub-heading{
//   font-family: 
//   font-weight: 400;
//   font-size: 24px;
// }

// .small-heading{
//   font-family: 
//   font-weight: 400;
//   font-size: 20px;
// }

// .para{
//   font-family: 
//   font-weight: 400;
//   font-size: 16px;
// }

// .side-menu{
//   font-family:
//   font-weight: 400;
//   font-size: 12px;
// }

.middle{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.justify-flex-end{
  justify-content: flex-end !important;
}

.side-menu-active{
  font-weight: 500;
}

.space-between{
  justify-content: space-between;
}


#SignUp{
  .signup-form{
    max-width: 576px;
    margin-top: 47px;
  }
  .content{
    max-width: 473px;
  }
}


/* Media Queries */

/* xs */
@media (max-width: 575px){
  body{
    font-size: 4vw;
  }
  .main-heading{
    font-size: 7vw;
  }
}
/* sm */
@media (min-width: 576px) and (max-width: 767px){
  
}
/* md */
@media (min-width: 768px) and (max-width: 991px){

}
/* lg */
@media (min-width: 992px) and (max-width: 1199px){

}
/* xl */
@media(min-width: 1200px){

}
/* xxl */
@media(min-width: 1600px){

}
